<section class="section">
  <form class="box" action="/poi/update/{{poi._id}}" method="POST">
    <label class="label">Update Poi Details:</label>
    <br>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Name</label>
          <input class="input" type="text" name="name" , value="{{poi.name}}">
        </div>
        <div class="field">
          <label class="label">Summary</label>
          <input class="input" type="text" name="summary" value="{{poi.summary}}">
        </div>
        <div class="field">
          <label class="label">Latitude</label>
          <input class="input" type="float" name="latitude" value="{{poi.latitude}}" min="-90" max="90" step="any">
        </div>
        <div class="field">
          <label class="label">Longitude</label>
          <input class="input" type="float" name="longitude" value="{{poi.longitude}}" min="-180" max="180" step="any">
        </div>
        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select">
              <select name="category" required>
                <option value="" disabled selected>Select a category</option>
                <option value="{{poi.category}}" selected>{{poi.category}}</option>
                <option value="Restaurant">Restaurant</option>
                <option value="Cafe">Cafe</option>
                <option value="Bar">Bar</option>
                <option value="Park">Park</option>
                <option value="Museum">Museum</option>
                <option value="Hotel">Hotel</option>
                <option value="Shop">Shop</option>
                <option value="Theatre">Theatre</option>
                <option value="Landmark">Landmark</option>
                <option value="Educational">Educational</option>
                <option value="Company">Company</option>
                <option value="Farm">Farm</option>
                <option value="Road">Road</option>
                <option value="Garden">Garden</option>
                <option value="Bridge">Bridge</option>
                <option value="Hike">Hike</option>
                <option value="Shopping Centre">Shopping Centre</option>
                <option value="Airport">Airport</option>
                <option value="Bus">Bus</option>
                <option value="Train">Train</option>
                <option value="Bank">Bank</option>
                <option value="Police">Police</option>
                <option value="Pharmacy">Pharmacy</option>
                <option value="Hospital">Hospital</option>
                <option value="Clinic">Clinic</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label class="label my-1">Is Private</label>
    <div class="select">
      <select name="isPrivate">
        <option value="false" {{#unless poi.isPrivate}}selected{{/unless}}>No</option>
        <option value="true" {{#if poi.isPrivate}}selected{{/if}}>Yes</option>
      </select>
    </div>

    <div class="field">
      <label class="label">Description</label>
      <textarea class="textarea" name="description" rows="4">{{poi.description}}</textarea>
    </div>
    <button class="button is-warning">Update Poi</button>
    <a href="/dashboard/deletePoi/{{poi._id}}" class="button is-danger">Delete POI</a>
  </form>
</section>