<div class="is-columns box">
  <h1 class="title  has-text-centered">Users<h1>
      <div class="table-container">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
            <tr>
              <td>
                {{firstName}}
              </td>
              <td>
                {{lastName}}
              </td>
              <td>
                {{email}}
              </td>
              <td>{{_id}}</td>
              <td>
                <a href="/admin-view/delete-user/{{_id}}" class="ui icon button">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
</div>